@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fredoka+One&family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fredoka+One&family=Press+Start+2P&family=Roboto+Condensed:wght@300&family=Rubik+Mono+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Bebas Neue', cursive;
    overflow-x: hidden;
    width: 100%;
}

.home{
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: #fff;
}

.navbar{
display: flex;
justify-content: space-between;
padding: 2em;
font-weight: bold;
font-size: 25px;

}

.menu{
    display: flex;
    justify-content: space-around;
    width: 50%;
    font-size: 35px;
    padding: 10px;
}

.menu li{
    list-style: none;
}

.menu a{
    text-decoration: none;
    color: #421c9a;
    padding: 10px 20px;
    border-radius: 20px;
}

.menu .activate {
    color: #fff;
}

.menu a:hover{
     background-color: #421c9a;
     transition: ease-in 0.4s;
     color: black;
}



.brand{
margin-top: -7px;
}

.brand h2{
    color: #421c9a;
    font-size: 60px;
    cursor: default;
}

.divider {
    height: 4px;
    width: 100%;
    background-color: #421c9a;
    margin-top: 10px;
    margin-bottom: 10px;
}


.gallerybuzos{
    width: 100vw;
    display: flex;
    align-items: center;
    padding-top: 3em;
    padding-bottom: 5em;
    background-color: black;

}

.carousel{
width: 30vw;
margin-left: 8rem;
}


.buynow{
    padding: 10px 20px;
    background-color: #421c9a;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    font-weight: bold;
    margin-left: 10rem;

}

.container{
    margin-bottom: 25px !important;
    padding-left: 10rem;

}

.tshirt-headings{
    padding: 5rem;
    background-color: black;
    color: #421c9a;
text-align: center;
}

.tshirt-headings h2{
    font-size: 5rem;
    font-weight: bold;
}

.divider-tshirts{
    height: 4px;
    width: 100%;
    background-color: #421c9a;
}

.divider-section{
    height: 4px;
    width: 100%;
    background-color: #421c9a;
}

.tshirts{
    background-color: black;
}

.tshirts .containter-tshirts{
    display: flex;
    justify-content: space-between;
margin-top: 5zrem;
    gap: 3em;
    flex-wrap: wrap;
    padding: 3em;
}



.containter-tshirts .pro{
    background-color: black;
    width: 23%;
    padding: 10px 20px;
    border: 4px solid #421c9a;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba (0, 0, 0, 0.5);
    margin: 15px;
    transition: 0.2s ease;
    position: relative;
}

.containter-tshirts .pro:hover{
    box-shadow: 1px 1px 4px 10px #421c9a;
}

.containter-tshirts .pro .description{
    color: #421c9a;
    text-align: start;
    padding: 10px 0;

}

.containter-tshirts .pro .description span{
    font-size: 12px;
}

.containter-tshirts .pro .description h5{
    font-size: 30px;
    color: #fff;
    padding-top: 7px;
}

.containter-tshirts .pro .img-rose{
    width: 100%;
    border-radius: 20px;
}

.containter-tshirts .pro .description i{
    font-size: 12px;
}

.containter-tshirts .pro .description h4{
    padding-top: 7px;
    font-size: 30px;
    font-weight: 700;
}

.containter-tshirts .pro .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #421c9a;
    font-weight: 500;
    color: black;
    border: 1px solid #421c9a;
    position: absolute;
    bottom: 20px;
    right: 10px;
}


.containter-tshirts .pro .cart i {
    margin-left: 8px
}


.banner{
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
width: 100%;
height: 80vh;
background-size: cover;
background-position: center;
background-color: black;
}

.banner h2{
font-size: 5em;
color: #fff;
font-family: 'Press Start 2P', cursive;
padding: 6em;
color: #421c9a;
cursor: default;
background-color: black;
}



